@inject IJSRuntime js

<div style="display: flex; flex-wrap:wrap; align-items:center">
    <ListadoGenerico Listado="peliculas">
        <HayRegistros Context="pelicula">
            <PeliculaIndividual pelicula="pelicula"
                                EliminarPelicula="EliminarPeliculas" />
        </HayRegistros>
    </ListadoGenerico>
</div>




@code {

    [Parameter]
    [EditorRequired]
    public List<Pelicula>? peliculas { get; set; }
    

    public void LimpiarPeliculas()
    {
        if(peliculas is not null)
        {
            peliculas.Clear();
        }
    }

    






    private async Task EliminarPeliculas(Pelicula pelicula)
    {
        var confirmado = await js.Confirm($"Desea borrar la pelicula {pelicula.Titulo}?");
        

        if (confirmado)
        {
            Console.WriteLine("elimando pelicula");
            peliculas!.Remove(pelicula);
            
        }
       
    }

}
